#background {
    position: fixed;
    inset: 0;
    z-index: -1;

    width: 1920px;
    height: 1080px;

}

#background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#background::after{
    content: '';

    width:inherit;
    height: inherit;

    position: fixed;
    inset: 0;

    background: linear-gradient(150deg, rgba(0, 0, 0, 0.945) 15%, rgba(0, 0, 0, 0.814) 50%, rgba(0, 0, 0, 0.934) 85%);
}