@import url('background.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --text: #ffffff;
    --greenfit: ;
    --darkgreen: ;
}

body, button, a {
    color: var(--text);
    font-family: 'Bebas Neue', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
#aplicacao {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100vh;
    overflow-y: none;
}