main {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
    inset: 0;
    width: 100%;
    max-width: 1300px; 
}

#sobrenos {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

#sobrenos img {
    position: relative;

    max-width: 40%;
    height: auto;

    object-fit: contain;
}

.sobrenos_infos {
    display: flex;
    flex-direction: column;

    margin-top: 3rem;

    max-width: 1300px;
    width: 100%;

    gap: 3rem;
}

.sobrenos_infos h1 {
    font-size: clamp(3rem, 7.5rem, 10rem);
    
    color: var(--greenfit);

    margin: 0px;
    padding: 0px;
    line-height: 1;
}

.sobrenos_infos p {     
    font-size: clamp(1rem, 2rem, 3rem);
    margin: -3px 0px 20px 0;
}



#produtos {
    display: flex;
    flex-direction: column;

    margin-top: 3rem;
}

.produto_info h1 {
    font-size: clamp(3rem, 7.5rem, 10rem);
    
    color: var(--greenfit);

    margin: 0px;
    padding: 0px;
    line-height: 1;
}

.produto_info p {     
    font-size: clamp(1rem, 2rem, 3rem);
    margin: -3px 0px 20px 0;
}

.produto_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: clamp(1rem, 2rem, 4rem) ;
  height: 100%;
}

.produto_list img {
  width: 90%;
  height: 500px;
  border-radius: 15px;

  object-fit: cover;

  transition: 0.5s ease;
  filter: brightness(0.8);

  cursor: pointer;
}

.produto_list img:hover {
  transform: scale(1.05);
  filter: brightness(1);
}

.pix {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  max-width: 1300px;
  width: 100%;

  margin-top: 2rem;
} 

.pix h1 {
  font-size: clamp(3rem, 7.5rem, 10rem);
  
  color: var(--greenfit);

  margin: 0px;
  padding: 0px;
  line-height: 1;

  text-align: center;
}

.pix p {
    font-size: clamp(1rem, 2rem, 3rem);
    margin: -3px 0px 20px 0;

    text-align: center;
}

footer a {
  color: var(--greenfit);
}

@media (max-width: 480px) { /*APRENDENDO SOBRE @MEDIA*/
  main {
    padding: 0 1rem;
  }

  #sobrenos {
    margin-left: -0.2rem;
    margin-top: 2rem;
    gap: 1.5rem;
  }

  #sobrenos img {
    display: none;
    max-width: 90%;
  }

  .sobrenos_infos h1 {
      font-size: clamp(1.8rem, 8vw, 3rem);
  }

  .sobrenos_infos p {
      font-size: clamp(0.85rem, 4vw, 1.2rem);
  }

  #produtos {
      margin-top: 2rem;
  }

  .produto_info h1 {
      font-size: clamp(1.8rem, 8vw, 3rem);
  }

  .produto_info p {
      font-size: clamp(0.85rem, 4vw, 1.2rem);
  }

  .produto_list {
      grid-template-columns: 1fr; /* 1 coluna em mobile */
      gap: 1rem;
  }

  .produto_list img {
      height: 250px;
      width: 100%;
  }

  .produto_list img:hover {
      transform: scale(1.02); /* Menos zoom em mobile */
  }

  .pix {
      margin-top: 2rem;
      padding: 1rem;
  }

  .pix h1 {
      font-size: clamp(1.8rem, 8vw, 3rem);
  }

  .pix p {
      font-size: clamp(0.85rem, 4vw, 1.2rem);
  }

  .pix img {
      max-width: 200px;
  }
}