header {
    display: flex;
    align-items: center;

    justify-content: space-between;

    width: 100%;
    max-width: 1300px;

    margin-top: 20px;
}

header img {
    width: 120px;
    height: auto;
    margin-right: auto;
}

.navigation {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.navigation_links {
    display: inline-block;
    font-size: 30px;
}

.navigation_links:hover {
    color: #c9df8a;
    
    transform: translateY(-5px);
    transition: 0.3s;
}

@media (max-width: 480px) { /*IMPROVISO PARA FINALIZAR: FEITO TOTAL POR MIM*/
    .navigation_links {
        font-size: 1rem;
    }

    header {
        margin: 15px 20px;
    }

    .navigation{
    margin: 0 20px;
    }

    header img {
        width: 50px;
        margin-left: 20px;
    }
}
