header {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 1300px;

    margin-top: 20px;
    padding: 20px 50px;
}

header img {
    width: 120px;
    height: auto;
    margin-right: auto;
}

.navigation {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.navigation_links {
    display: inline-block;
    font-size: 30px;
}

.navigation_links:hover {
    color: #c9df8a;
    
    transform: translateY(-5px);
    transition: 0.3s;
}